https://scikit-learn.org/stable/modules/classes.html

## SimpleImputer

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [5]:
# Create a radnom datset of 10 rows and 4 columns
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

# Randomly set some values as null
df = df.mask(np.random.random((10, 4)) < .15)

# Duplicate two cells with same values
df['B'][8] = df['B'][9]
df

          A         B         C         D
0       NaN -0.293682       NaN -0.083894
1  0.410755 -2.154044 -0.235922  0.270470
2 -0.373816  0.676770 -0.989034 -1.232581
3 -0.237014  1.150871  0.799334  0.192551
4  0.281918 -0.602404       NaN  1.159185
5  2.114589 -2.562937  0.545243       NaN
6 -0.785614 -0.891073  0.781569 -0.134915
7       NaN       NaN  1.095055       NaN
8  0.541335 -0.494985  1.452346       NaN
9  0.493747 -0.494985  0.350556 -1.725537

In [7]:
mean_imputer = SimpleImputer(strategy='mean')

result_mean_imputer = mean_imputer.fit_transform(df)

pd.DataFrame(result_mean_imputer, columns=list('ABCD'))

          A         B         C         D
0  0.305738 -0.293682  0.474893 -0.083894
1  0.410755 -2.154044 -0.235922  0.270470
2 -0.373816  0.676770 -0.989034 -1.232581
3 -0.237014  1.150871  0.799334  0.192551
4  0.281918 -0.602404  0.474893  1.159185
5  2.114589 -2.562937  0.545243 -0.222103
6 -0.785614 -0.891073  0.781569 -0.134915
7  0.305738 -0.629608  1.095055 -0.222103
8  0.541335 -0.494985  1.452346 -0.222103
9  0.493747 -0.494985  0.350556 -1.725537

# OneHotEncoder

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
df = pd.read_csv('datasets/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [44]:
# Не работает с Series только [[],[]]

In [38]:
df_ocean = df['ocean_proximity']

encoder = OneHotEncoder()

df_ocean_onehot = encoder.fit_transform(df_ocean.to_numpy().reshape(-1,1))

df_ocean_onehot.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [43]:
df_ocean.to_numpy().reshape(-1,1)

array([['NEAR BAY'],
       ['NEAR BAY'],
       ['NEAR BAY'],
       ...,
       ['INLAND'],
       ['INLAND'],
       ['INLAND']], dtype=object)